/*======= NAVIGATION ===========*/
header {
  width: 95%;
  margin: 0 0 0 auto;
  min-height: 10vh;
  @include flex(row, flex-start, center);
}

nav {
  width: 50%;
  margin: 0 auto 0 0;
  @include flex(row, space-between, center);
  flex-wrap: wrap;

  ul {
    @include flex(row, space-around, center);
    flex: 1 1 10rem;
    li {
      padding: 1rem 2rem;
      background-color: white;
      border-radius: 2rem;
    }
  }
}

.logo {
  @include flex(row, flex-start, center);
  flex: 1 1 10rem;
  img {
    margin: 0.5rem 1rem 0.5rem 0;
    max-height: 50%;
  }
}

.active,
.active a {
  background-color: $text-color;
  color: white;
}

/*======= NAVIGATION BURGER ===========*/
#burger {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.burger {
  padding: 0.15rem 1.6rem;
  margin: 0.6rem 0;
  background-color: $text-color;
  display: block;
  transition: all 0.5s ease;
}

.b1 {
  transform: rotateZ(45deg) translateY(420%);
}

.b2 {
  opacity: 0;
}

.b3 {
  transform: rotateZ(-45deg) translateY(-420%);
}

.mobile-menu {
  display: block;
}
