/*======= NAVIGATION ===========*/
header {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  width: 60%;
  margin: 0 auto 0 0;
  @include flex(row, space-between, center);
  min-height: 10vh;

  h1 {
  }

  ul {
    @include flex(row, space-between, center);
  }
}

.logo {
  @include flex(row, center, center);
  img {
    max-height: calc($header1 + 1vh);
  }
}

/*======= NAVIGATION BURGER ===========*/
#burger {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.burger {
  padding: 0.15rem 1.6rem;
  margin: 0.6rem 0;
  background-color: $text-color;
  display: block;
  transition: all 0.5s ease;
}

.b1 {
  transform: rotateZ(45deg) translateY(420%);
}

.b2 {
  opacity: 0;
}

.b3 {
  transform: rotateZ(-45deg) translateY(-420%);
}

.mobile-menu {
  display: block;
}
