/* in SASS this calc don't work in variales
$text: calc(1.5rem + 1vw);
$header1: calc(2rem + 1vw);
$header2: calc(3.5rem + 1vw);
$header3: calc(3rem + 1vw);
$header4: calc(2.4rem + 1vw);
$header5: calc(2rem + 1vw);
$dark: #111;
$medium: #666670;
$light: #c3c3c3;
$color1: #9cce40;
$color2: #32c8b3;
$whitish: #fffff5;
*/

$gradient: linear-gradient(to right, #38d39f, #38a4d3);
$bgcolor: #154353;
$text-color: #2c2c2c;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

/*======= GLOBAL STYLES ===========*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* $text: 1.6rem;
$header1: 2rem; */
$header2: 5rem;
$header3: 4rem;
$header4: 3rem;
$header5: 2.5rem;

body {
  /* width: 100vw;
  overflow-x: hidden; */
  color: $text-color;
  font-size: calc(1.4rem + 0.5vw);
}

/*
img {
  width: 100%;
}*/

ul {
  list-style: none;
}

a:link,
a:visited {
  color: $text-color;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

a:hover,
a:focus,
a:link:active,
a:visited:active {
  color: $text-color;
}

/*======= TYPOGRAPHY ===========*/
h1 {
  font-size: calc(1rem + 1vw);
}

h2 {
  font-size: $header2;
}

h3 {
  font-size: $header3;
}

h4 {
  font-size: $header4;
}

/*======= SECTIONS' STYLES ===========*/

.next {
  min-height: 100vh;
  background-color: blue;
}

@import "header";
@import "intro";
@import "footer";
@import "responsive";
